<% @page_title = "UserAuth | Signup" %>
<div class="Sign_Form">
  <h1>Sign Up</h1>
  <form method="post" url="/signup">
    Name:<input type="text" name="name"><br/>
    Mobile Number:<input type="text" name="mobile_number"><br/>
    Skillset:<input type="text" name="skillset"><br/>
    Password:<input type="password" name="password"><br/>
    ReType Password:<input type="password" name="password_confirmation"><br/>
    Location:<input type="text" name="location"><br/>
    <input type="submit" value="create account">
  </form>
</div>