<style type="text/css">
    #login-box{
    margin-top: 10%;
    width:50%;
    margin-left:25%;
  }
    .jumbotron {
    background: #358CCE;
    color: #FFF;
    border-radius: 0px;
    }
    .jumbotron-sm { padding-top: 24px;
    padding-bottom: 24px; }
    .jumbotron small {
    color: #FFF;
    }
    .h1 small {
    font-size: 24px;
    }

</style>
<div class="jumbotron jumbotron-sm">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h1 class="h1">
                    Micro Jobs
                </h1>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-md-6">
                        
                           <a href="/signup"><div class="btn btn-info btn-lg" >Sign Up</div>
                            </div></a>
                            <div class="col-md-6" >
                           
                                <a href="/login"><div class="btn btn-info btn-lg" style="float:right;">Log in</div></a>
                            </div>
                            </div>
                            </div>
                            </div>
                            </div>
                            </div>
                            </div>
                            